<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matthew Riley</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<nav class="nav nav__main">
    <ul class="nav__links">
        <li>Data</li>
        <li>Developer</li>
        <li class="pages__item">Matthew Riley</li>
        <li class="pages__item">Business</li>
        <li class="pages__item">Personal</li>
    </ul>
</nav>
<main>
    <div class="hero">

    </div>
</main>

<script src="js/main.js"></script>
</body>
</html>